<!--***********************Menu Content Start*************************-->
<!-- <ion-menu content-id="menu-content"> -->

<!-- <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header> -->

<!-- <ion-content>
        <div header-background-image>
            <img menuClose src="https://irs3.4sqi.net/img/user/original/HBVX4T2WQOGG20FE.png" />
            <h2 ion-text color="light" header-title text-capitalize>Sanoj Vishwakarma</h2>
            <p ion-text header-subtitle>sanoj@gmail.com</p>
        </div>
        <ion-list class="ion-no-margin">
            <ion-menu-toggle [autoHide]="false">
                <ion-item button class="ion-no-padding">
                    <ion-icon slot="start" name='home'></ion-icon>
                    <ion-label>Home</ion-label>
                </ion-item>
                <ion-item button routerLink="/home/page" class="ion-no-padding">
                    Page One
                </ion-item>
                <ion-item button (click)="onLogout()" class="ion-no-padding">
                    Logout
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet id="menu-content"></ion-router-outlet> -->
<!--***********************Menu Content End*************************-->

<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Dashboard</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false" menu="main-content"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    Dashboard Works
</ion-content>

<!-- <ion-footer>
    <ion-navbar>
        <ion-title>Footer</ion-title>
    </ion-navbar>
</ion-footer> -->